# Mengabaikan file kredensial (Rahasia)
.env

# Mengabaikan folder cache Python (Tidak perlu di-upload)
__pycache__/
*.pyc

# Mengabaikan data mentah dan data turunan agar tidak bocor
data/raw/
*.csv
*.xlsx
*.PDF

# Mengabaikan file database/vector (Karena bisa di-generate ulang)
data/faiss_index/
*.faiss
*.pkl

# Mengabaikan virtual environment (jika Anda pakai venv)
venv/
env/